<!--Registration page for new users-->
<!doctype html>
<html lang ="en-US">

<head>
<!--The title attribute is the text displayed in the browsers tab-->
<title>Register</title>
<meta charset = "UTF-8">
</head>

<body>
    <div>
        <header>
            <img src="../statics/Images/CatLogo.jpg" />
            <form action="" method="post">

                {% csrf_token %}
                {% for field in form %}
                    {{ field.label }}{{ field }}{{ field.errors }}
                    <br />
                {% endfor %}


                <input type="submit" value="submit">
            </form>
        </header>
        <footer>

        </footer>
    </div>
</body>

</html>